<template>
    <div>
        <div class="list-group">
            <a v-for="tag in tags" :href="`/forum/${tag.slug}`" class="list-group-item list-group-item-action" :class="currentActiveUrl(tag.slug)">{{ tag.name }}</a>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                tags: [],
                currentUrl: '',
            }
        },

        mounted() {
            axios.get('/forum/tags').then((response) => {
                this.tags = response.data
            })
        },

        created() {
            this.currentUrl = window.location.pathname
        },

        methods: {
            currentActiveUrl(tag) {
                return this.currentUrl == `/forum/${tag}` ? 'active' : ''
            }
        }
    }
</script>
